@using System.Security.Claims;
@{
    string rol = "";
    Claim claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
    if (claim != null)
    {
        rol = claim.Value + "";
    }
    if (rol == "a50e964f-8848-11ee-8027-cecd02c24f20" || rol == "a984b435-8848-11ee-8027-cecd02c24f20")
    {
        Layout = "_LayoutUsuario";
    }
    else
    {
        Layout = "_Layout";
    }
}
<div class="container">
    <div style="margin-top: 10px;margin-bottom: 10px;">
        <div class="dropend">
            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Filtros </button>
            <div class="dropdown-menu dropdown-menu-dark">
                <a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a>
                <div class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Link</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">Link</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center"><img src="caqueta.png" /></div>
</div>
