@model List<EtiquetaModel>;
@using System.Security.Claims;
@{
    string rol = "";
    Claim claim = User?.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
    if (claim != null)
    {
        rol = claim.Value + "";
    }
    if (rol == "a50e964f-8848-11ee-8027-cecd02c24f20" || rol == "a984b435-8848-11ee-8027-cecd02c24f20")
    {
        Layout = "_LayoutUsuario";
    }
    else
    {
        Layout = "_Layout";
    }
}
@section ScriptsPersonalizados {
    <script src="~/js/ScriptHistorias.js"></script>
}
<form asp-controller="Historias" enctype="multipart/form-data">
    <div class="container">
        <div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="card" style="color: var(--bs-emphasis-color);">
                                <div class="card-body">
                                    <div>
                                        <div>
                                            <h1 class="text-center">Seleccione el tipo de archivo a subir</h1>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div id="botonVideo" data-valor="1" class="card btn"
                                                    style="color: var(--bs-emphasis-color);">
                                                    <div class="card-body"
                                                        style="border-style: solid;border-color: var(--bs-emphasis-color);border-radius: 20px;">
                                                        <h4 class="text-center card-title">Video</h4>
                                                        <div class="text-center"><a id="video"><img class="img-fluid"
                                                                    src="~/img/Play.png" /></a></div>
                                                    </div>
                                                </div>
                                                <div id="formularioComic" class="card d-none"
                                                    style="color: var(--bs-emphasis-color);;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                    <div class="card-body"
                                                        style="border-style: solid;border-radius: 20px;">
                                                        <div class="text-center">
                                                            <h1>Complete los datos</h1>
                                                        </div>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <input type="text" id="tituloComic" placeholder="Ingrese titulo"
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                                    <div
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <code>Seleccione departamento de los hechos</code>
                                                                        <div>
                                                                            <select id="departamento"
                                                                                asp-items="ViewBag.departamentos">
                                                                                <option class="d-none" selected>
                                                                                    Departamento</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <code>Seleccione municipio</code>
                                                                        <div>
                                                                            <select id="municipio">
                                                                                <option class="d-none" selected>
                                                                                    Municipio</option>
                                                                            </select>
                                                                        </div>
                                                                    </div><textarea id="descripcionComic" placeholder="Ingrese descripcion"
                                                                        style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;"
                                                                        cols="40" rows="4"></textarea>
                                                                    <div class="form-check"
                                                                        style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <input id="anonimoComic" class="form-check-input"
                                                                            type="checkbox" /><label
                                                                            class="form-check-label"
                                                                            for="anonimoComic">¿Desea que sea
                                                                            anónimo? </label></div><input id="documentoComic" type="file"
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                                </div>
                                                            </div>
                                                            <div class="text-end">
                                                                <button asp-controller="Historias" asp-action="SubirHistoria"
                                                                    class="btn btn-danger btn-sm"
                                                                    type="submit">Volver</button>
                                                                <button id="aceptarComic" class="btn btn-success btn-sm"
                                                                    type="button"
                                                                    style="margin-left: 10px;">Aceptar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div id="botonComic" data-valor="2" class="card btn"
                                                    style="color: var(--bs-emphasis-color);">
                                                    <div class="card-body"
                                                        style="border-style: solid;border-color: var(--bs-emphasis-color);border-radius: 20px;">
                                                        <h4 class="text-center card-title">Comic</h4>
                                                        <div class="text-center"><a id="comic"><img class="img-fluid"
                                                                    src="~/img/comic.png" /></a></div>
                                                    </div>
                                                </div>
                                                <div id="formularioVideo" class="card d-none"
                                                    style="color: var(--bs-emphasis-color);margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                    <div class="card-body"
                                                        style="border-style: solid;border-radius: 20px;">
                                                        <div class="text-center">
                                                            <h1>Complete los datos</h1>
                                                        </div>
                                                        <div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <input id="tituloVideo" type="text" placeholder="Ingrese titulo"
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                                    <div
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <code>Seleccione departamento de los hechos</code>
                                                                        <div>
                                                                            <select id="departamento2"
                                                                                asp-items="ViewBag.departamentos">
                                                                                <option class="d-none" selected>
                                                                                    Departamento</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div
                                                                        style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <code>Seleccione municipio</code>
                                                                        <div>
                                                                            <select id="municipio2">
                                                                                <option class="d-none" selected>
                                                                                    Municipio</option>
                                                                            </select>
                                                                        </div>
                                                                    </div><textarea id="descripcionVideo" placeholder="Ingrese descripcion"
                                                                        style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;"
                                                                        cols="40" rows="4"></textarea>
                                                                    <div class="form-check"
                                                                        style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                        <input id="anonimoVideo" class="form-check-input"
                                                                            type="checkbox" /><label
                                                                            class="form-check-label"
                                                                            for="formCheck-2">¿Desea que sea
                                                                            anónimo? </label></div><input id="urlVideo" type="url"
                                                                        placeholder="Ingrese el url del archivo" />
                                                                </div>
                                                            </div>
                                                            <div class="text-end">
                                                                <button class="btn btn-danger btn-sm" asp-controller="Historias" asp-action="SubirHistoria" type="submit">
                                                                    Volver
                                                                </button>
                                                                <button id="acpetarVideo" class="btn btn-success btn-sm"
                                                                    type="button"
                                                                    style="margin-left: 10px;">Aceptar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="etiquetas" class="card d-none"
            style="position: fixed; top: 50%; left: 50%; border-radius: 20px; transform: translate(-50%, -50%); z-index: 1000;">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">Etiquetas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i += 2)
                            {
                                <tr>
                                    <td>
                                        <input id="@Model[i].EtqId" type="checkbox" onchange="handleCheckboxChange(this)">
                                        <label>@Model[i].EtqTipo</label>
                                    </td>
                                    @if (i + 1 < Model.Count)
                                    {
                                        <td>
                                            <input id="@Model[i + 1].EtqId" type="checkbox"
                                                onchange="handleCheckboxChange(this)">
                                            <label>@Model[i + 1].EtqTipo</label>
                                        </td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-3">
                    <button id="enviarFormulario" class="btn btn-primary">Aceptar</button>
                    <button id="nuevoBoton2" class="btn btn-danger">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</form>