@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div>
        <div>
            <div class="card" style="background: #ffffff66;color: var(--bs-emphasis-color);">
                <div class="card-body">
                    <div>
                        <div class="card" style="color: var(--bs-emphasis-color);background: var(--bs-body-color);">
                            <div class="card-body">
                                <div>
                                    <div>
                                        <h1 class="text-center">Seleccione el tipo de archivo a subir</h1>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div id="botonVideo" class="card btn" style="color: var(--bs-emphasis-color);background: var(--bs-body-color);">
                                                <div class="card-body" style="border-style: solid;border-color: var(--bs-emphasis-color);border-radius: 20px;">
                                                    <h4 class="text-center card-title">Video</h4>
                                                    <div class="text-center"><a id="video"><img class="img-fluid" src="Play.png" /></a></div>
                                                </div>
                                            </div>
                                            <div id="formularioComic" class="card d-none" style="color: var(--bs-emphasis-color);background: var(--bs-body-color);margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <div class="card-body" style="border-style: solid;border-radius: 20px;">
                                                    <div class="text-center">
                                                        <h1>Complete los datos</h1>
                                                    </div>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <input type="text" placeholder="Ingrese titulo" style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                                <div style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                    <code>Seleccione departamento de los hechos</code>
                                                                    <div>
                                                                        <select>
                                                                            <option value="12" selected>Departamento</option>
                                                                            <option value="13">This is item 2</option>
                                                                            <option value="14">This is item 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                    <code>Seleccione municipio</code>
                                                                    <div>
                                                                        <select>
                                                                            <option value="12" selected>Municipio</option>
                                                                            <option value="13">This is item 2</option>
                                                                            <option value="14">This is item 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div><textarea placeholder="Ingrese descripcion" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" cols="40" rows="4"></textarea>
                                                                <div class="form-check" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;"><input id="formCheck-1" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-1">¿Desea que sea anónimo? </label></div><input type="file" style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="text-end"><button class="btn btn-danger btn-sm" type="button">Volver</button><button class="btn btn-success btn-sm" type="button" style="margin-left: 10px;">Aceptar</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div id="botonComic" class="card btn" style="color: var(--bs-emphasis-color);background: var(--bs-body-color);">
                                                <div class="card-body" style="border-style: solid;border-color: var(--bs-emphasis-color);border-radius: 20px;">
                                                    <h4 class="text-center card-title">Comic</h4>
                                                    <div class="text-center"><a id="comic"><img class="img-fluid" src="comic.png" /></a></div>
                                                </div>
                                            </div>
                                            <div id="formularioVideo" class="card d-none" style="color: var(--bs-emphasis-color);background: var(--bs-body-color);margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <div class="card-body" style="border-style: solid;border-radius: 20px;">
                                                    <div class="text-center">
                                                        <h1>Complete los datos</h1>
                                                    </div>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <input type="text" placeholder="Ingrese titulo" style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                                <div style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                    <code>Seleccione departamento de los hechos</code>
                                                                    <div>
                                                                        <select>
                                                                            <option value="12" selected>Departamento</option>
                                                                            <option value="13">This is item 2</option>
                                                                            <option value="14">This is item 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div style="min-height: 0px;margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                                    <code>Seleccione municipio</code>
                                                                    <div>
                                                                        <select>
                                                                            <option value="12" selected>Municipio</option>
                                                                            <option value="13">This is item 2</option>
                                                                            <option value="14">This is item 3</option>
                                                                        </select>
                                                                    </div>
                                                                </div><textarea placeholder="Ingrese descripcion" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" cols="40" rows="4"></textarea>
                                                                <div class="form-check" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">¿Desea que sea anónimo? </label></div><input type="url" placeholder="Ingrese el url del archivo" />
                                                            </div>
                                                        </div>
                                                        <div class="text-end"><button class="btn btn-danger btn-sm" type="button">Volver</button><button class="btn btn-success btn-sm" type="button" style="margin-left: 10px;">Aceptar</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>