<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="d-none">
                <div class="simple-slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background:url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center / cover no-repeat;"></div>
                            <div class="swiper-slide" style="background:url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center / cover no-repeat;"></div>
                            <div class="swiper-slide" style="background:url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center / cover no-repeat;"></div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>

            </div>
        </div>
    </div>
</div>
