@model ContenedorModel
<div id="divMunicipios">
    <select id="municipio" asp-items="ViewBag.Municipios" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
        <option class="d-none" selected>Seleccione el municipio</option>
    </select>
</div>

<div id="divInstitucion">
    <select id="ins" asp-for="persona.FkinsId" asp-items="ViewBag.Instituciones" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
        <option class="d-none" selected>Seleccione institucion</option>
    </select>
</div>