@model ContenedorModel
@section ScriptsPersonalizados{
    <script src="~/js/ScriptsRegistro.js"></script>
}
<form asp-controller="IngresoUsuario" asp-action="RegistroPersona">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Registro</p>
                <h2 class="fw-bold">Bienvenido</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col">
                <div class="card" style="background: rgba(255, 255, 255, 0.66);color: var(--bs-emphasis-color);backdrop-filter: blur(7px);">
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" name="nombreUno" placeholder="Primer nombre" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                            <input type="text" name="apellUno" placeholder="Primer apellido" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                            <input type="tel" name="telefono" placeholder="Numero telefonico" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                        </div>
                                        <div class="col">
                                            <input type="text" name="nombreDos" placeholder="Segundo nombre" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                            <input type="text" name="apellDos" placeholder="Segundo apellido" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                            <div>
                                                <code style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">Ingrese la fecha de nacimiento</code>
                                                <div>
                                                    <input name="fechaNacimiento" type="date" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <select asp-items="ViewBag.roles" name="rol" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <option class="d-none" selected>Seleccione tipo persona</option>
                                            </select>
                                            <select asp-items="ViewBag.generos" name="genero" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;box-shadow: 0px 0px 0px var(--bs-body-color);">
                                                <option class="d-none" selected>Seleccione genero</option>
                                            </select>
                                            <select id="institucion" name="institucion" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <option class="d-none" selected>Seleccione institucion</option>
                                            </select>

                                        </div>
                                        <div class="col">
                                            <select id="dep" asp-items="ViewBag.departamento" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <option class="d-none" selected>Seleccione el departamento</option>
                                            </select>
                                            <select id="municipio" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                                                <option class="d-none" selected>Seleccione el municipio</option>
                                            </select>
                                            <input name="correo" type="email" placeholder="Correo electronico" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                            <input name="contrasenia" type="password" placeholder="Contrasenia" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center" style="margin-top: 10px;">
                                <button asp-action="RegistroPersona" class="btn btn-primary" type="submit" style="box-shadow: 0px 0px 11px 1px var(--bs-btn-active-border-color);">
                                    Registrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>