@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
    string rol = "";
    Claim claim = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role);
    if (claim != null)
    {
        rol = claim.Value + "";
    }
    if (rol == "a50e964f-8848-11ee-8027-cecd02c24f20" || rol == "a984b435-8848-11ee-8027-cecd02c24f20")
    {
        Layout = "_LayoutUsuario";
    }
    else
    {
        Layout = "_Layout";
    }
}
<div class="container">
    <div style="margin-top: 20px;margin-bottom: 30px;">
        <div class="text-center">
            <h1 style="font-family: ABeeZee, sans-serif;">Instituciones aliadas</h1>
        </div>
        <div style="margin-top: 10px;">
            <div class="row">
                <div class="col" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                    <div class="card" style="color: var(--bs-emphasis-color);background: rgba(255,255,255,0.8);">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid" src="~/img/LogoGorge.png"
                                     style="margin-bottom: 10px;height: 360px;">
                            </div>
                            <div></div>
                            <p>
                                La institución Educativa Jorge Eliécer Gaitán ofrece la formación de ciudadanos competentes en el uso
                                adecuado de los recursos naturales, en el conocimiento de una lengua extranjera (ingles), en la
                                conformación y administración de unidades Empresariales, Contables y Financieras y Procesos
                                Agroindustriales, para enfrentar un mundo globalizado y en constante transformación, que les permita
                                consolidar su proyecto de vida, evidenciando compromiso ético y social dentro de una educación
                                inclusiva e integra.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;">
                    <div class="card" style="color: var(--bs-emphasis-color);background: rgba(255,255,255,0.8);">
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid" src="~/img/logoUniversidad.png"
                                     style="margin-bottom: 10px;">
                            </div>
                            <div>
                                <p>
                                    La Universidad de la Amazonia es una Institución Estatal de Educación Superior del orden nacional,
                                    en proceso de mejoramiento continuo para ser reconocida por su alta calidad, el liderazgo de sus
                                    docente, estudiantes y graduados en los sectores publico y privado, a través de la investigación, la
                                    formación de talento humano, el desarrollo tecnológico y la transferencia de conocimiento a la
                                    sociedad, profundizando en todos los ámbitos de la ciencia para contribuir a la formación integral
                                    de los estudiantes y el desarrollo sostenible de la Amazonia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="card" style="background: rgba(255,255,255,0.8);">
            <div class="card-body">
                <div class="simple-slider" style="margin-bottom: 10px;">
                    <div class="swiper-container" style="border-radius: 20px;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                                 style="background: url(&quot;~/img/adolecentes%20museo.jpg&quot;) center center / cover no-repeat;">
                            </div>
                            <div class="swiper-slide"
                                 style="background: url(&quot;~/img/adolecentes.jpg&quot;) center center / cover no-repeat;">
                            </div>
                            <div class="swiper-slide"
                                 style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div style="margin-bottom: 10px;">
                    <div class="card" style="background: var(--bs-body-color);--bs-body-color: #fff;">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <img class="rounded w-100 h-100 fit-cover" style="min-height: 300px;"
                                         src="~/img/jovenes%20estudiando.jpg">
                                </div>
                                <div class="col d-flex flex-column justify-content-center p-4">
                                    <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                                 viewBox="0 0 16 16" class="bi bi-bell">
                                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div>
                                            <h4 style="color: var(--bs-emphasis-color);">
                                                <span style="color: var(--bs-emphasis-color);">Metodología Mándala</span>
                                            </h4>
                                            <p style="color: var(--bs-emphasis-color);">
                                                <span style="background-color: rgba(255, 255, 255, 0.08);">
                                                    La metodología mándala&nbsp;es una
                                                    forma de utilizar los mándalas&nbsp;como recurso educativo, terapéutico, creativo y
                                                    espiritual. Los mándalas&nbsp;son figuras geométricas concéntricas que representan el
                                                    universo y el equilibrio, y que se pueden crear, colorear u observar con diferentes
                                                    fines.
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                                 viewBox="0 0 16 16" class="bi bi-bell">
                                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div>
                                            <h4 style="color: var(--bs-emphasis-color);">Title</h4>
                                            <p style="color: var(--bs-emphasis-color);">
                                                Erat netus est hendrerit, nullam et quis ad cras
                                                porttitor iaculis. Bibendum vulputate cras aenean.
                                            </p><a href="#"
                                                   style="color: var(--bs-emphasis-color);">
                                                Learn More&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                                     viewBox="0 0 16 16" class="bi bi-arrow-right">
                                                    <path fill-rule="evenodd"
                                                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                                 viewBox="0 0 16 16" class="bi bi-bell">
                                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z">
                                                </path>
                                            </svg>
                                        </div>
                                        <div>
                                            <h4 style="color: var(--bs-emphasis-color);">Title</h4>
                                            <p style="color: var(--bs-emphasis-color);">
                                                Erat netus est hendrerit, nullam et quis ad cras
                                                porttitor iaculis. Bibendum vulputate cras aenean.
                                            </p><a href="#"
                                                   style="color: var(--bs-emphasis-color);">
                                                Learn More&nbsp;
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                                     viewBox="0 0 16 16" class="bi bi-arrow-right">
                                                    <path fill-rule="evenodd"
                                                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
